/* ---------- BASE ---------- */
body{
  margin:0;
  font-family: system-ui, "Segoe UI", Arial, sans-serif;
  background:url("wall.png");
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  color:#111;
  width:100vw;
  height:100vh;
}

/* ---------- PAGE WRAPPER ---------- */
.wholepage{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100vw;
  height:100vh;
}

/* ---------- HEADER ---------- */
.glass-header{
  display:flex;
  align-items:center;
  justify-content:center;

  width:90vw;
  height:10vh;
  margin-top:2vh;

  font-size:2vw;
  font-weight:700;
  color:#fff;

  border-radius:10vh;

  background:rgba(70,70,70,.45);
  backdrop-filter:blur(14px);

  border:1px solid rgba(255,255,255,.25);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,.35),
    0 2vh 4vh rgba(0,0,0,.35);
}


.container{
  display:flex;
  flex-direction: row;
  gap:4vw;
  justify-content: center;
  align-items: center;
  width:90vw;
  padding:3vh 0;
  height: 90vh;
}

.card{
  background:#1b2130;
  border-radius: 2vw;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  width: 25vw;
  height: 60vh;
  box-shadow:0 1vh 3vh rgba(0,0,0,.6);
  transition:.25s;
}

.card:hover{
  transform:translateY(-.6vh) scale(1.02);
}


/* ---------- IMAGE ---------- */
.thumbnail{
  width:100%;
  height:22vh;
  object-fit:cover;
}


/* ---------- CONTENT ---------- */
.content{
  display:flex;
  flex-direction:column;
  padding:2vh 1.2vw;
  flex:1;
}


/* ---------- TEXT ---------- */
.title{
  font-size:1.4vw;
  font-weight:600;
  margin-bottom:1vh;
  color:white;
}

.desc{
  font-size:1vw;
  opacity:.8;
  margin-bottom:2vh;
  color:white;
  flex:1;
}


/* ---------- BUTTONS ---------- */
.buttons{
  display:flex;
  gap:1vw;
}

.btn{
  flex:1;
  text-align:center;
  padding:1vh;
  border-radius:1vh;
  text-decoration:none;
  font-size:.95vw;
  font-weight:600;
  transition:.2s;
}

.watch{
  background:#ff0033;
  color:#fff;
}

.watch:hover{
  background:#cc0028;
}

.details{
  background:#2a3145;
  color:#fff;
}

.details:hover{
  background:#3a4461;
}


/* ---------- FOOTER ---------- */
footer{
  margin-top:auto;
  padding:2vh;
  font-size:.9vw;
  opacity:.6;
  color:white;
}
